.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5rem;
  }
  
  /*========= Suggestions Section======= */
  .suggestion-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: clamp(50rem, 70vw, 80rem);
    height: 90%;
    align-self: center;
    background-color: rgb(204, 204, 204);
    border-radius: 20px;
  }
  
  .suggestion{
    align-content: center;
    justify-items: center;
    border: white solid 1px;
  }
  
  .suggestion:hover{
    background-color: white;
    color: rgb(204, 204, 204);
  }
  
  
  .suggestion img{
    display: flex;
    justify-self: center;
    width: 45%;
  }